<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <!-- GLOBAL CSS -->
    <!-- Loads for common reoccuring elements (header, footer, etc) -->
    <link rel="stylesheet" href="/css/global.css">
    
    <!-- Using a specific CSS based on the page wanted to be load -->
    {% if cssFile %}
      <link rel="stylesheet" href="/css/{{ cssFile }}">
    {% endif %}
</head>

<body>
<!-- Header Navigation -->
  <header class="site-header">
      <div class="container header-inner">
          <a href="/" class="logo">JurnalPivot</a>
          
          <nav class="nav-menu">
              <a href="#latest">Tulisan</a>
              <a href="pages/about.html">Tentang</a>
              <button id="theme-toggle" aria-label="Toggle Dark Mode">
                  <!-- Sun Icon -->
                  <svg class="icon sun" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" /></svg>
                  <!-- Moon Icon -->
                  <svg class="icon moon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" style="display:none;"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" /></svg>
              </button>
          </nav>
      </div>
  </header>

<!-- Content Modularity -->
  <!-- Content from the sub-layouts will go here -->
  {{ content | safe }}

<!-- Footer Navigation -->
  <footer class="site-footer">
      <div class="container">
          <p>&copy; 2025 JurnalPivot. Merakit dan Menulis Ide.</p>
          <div class="social-links">
              <a href="https://www.instagram.com/jurnal.pivot/">Instagram</a>
              <a href="https://x.com/JurnalPivot">Twitter</a>
          </div>
      </div>
  </footer>

    <!-- Global Scripts -->
  <script src="/js/main.js"></script>
</body>

</html>