---
layout: base.njk
cssFile: home.css
---

 <!-- Hero Section -->
<section class="hero">
    <div class="container">
        <h1 class="hero-title">Merakit dan Menulis Ide</h1>
        <p class="hero-subtitle">Menavigasi jalinan kompleks guna membuka jalan menuju suatu ide, sembari menuntut kreativitas, keingintahuan, dan keberanian untuk menelusuri suatu bangunan realitas.</p>
    </div>
</section>

    <!-- Articles Grid -->
<main id="latest" class="container">
    <h2 class="section-title">Tulisan Terbaru</h2>
    
    <div class="grid-layout">
        <!-- Articles Loop -->
        {% for post in collections.articles | reverse %}
            <article class="card">
                <div class="card-content"> 
                    <!-- 1. AUTOMATED DATE -->
                    <span class="card-date">{{ post.date | readableDate }}</span>
                    
                    <!-- 2. AUTOMATED TITLE & LINK -->
                    <h3 class="card-title">
                        <a href="{{ post.url }}">{{ post.data.title }}</a>
                    </h3>
                    
                    <!-- 3. AUTOMATED AUTHOR -->
                    <p class="card-excerpt">{{ post.data.author }}</p>
                    
                    <a href="{{ post.url }}" class="read-more">Baca Artikel →</a>
                </div>
            </article>
        {% endfor %}
    </div>
</main>